

.Item {
    display: flex;
    justify-content: space-evenly;
    padding: 90px;
    box-shadow: 0 8px 6px -6px #9CA89C;

    h3 {
        display: flexbox;
        flex-direction: column;
        margin-left: 20px;
        
    }
    p{
        margin-left: 15px;
        
    }
    button {
        width: 50%;
        height: 10%;
        border-radius: 10px;
        box-shadow: 0 8px 6px -6px #9CA89C;
        
    }
   
    img{
        border-radius: 50px;
        margin-left: 50px;
    }
    }

    
    
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 10%;
        color: #056608;
    
    
    
    .card{
        flex: 0 1 24%;
        margin-bottom: 10%;
        padding: 2px;
        box-shadow: 0 8px 6px -6px #9CA89C;
        margin-left: 70px;
        
    }
}
    
    .cardIcon{
        margin-bottom: 10px;
    }
    
    .features{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        color: #056608;
        margin-top: 25px;
    }