.Item {
    display: flex;
    justify-content: space-evenly;
    border-radius: 50%;
    }
    
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 10%;
        color: #BD2031;
      
    
    
    .card{
        flex: 0 1 24%;
        margin-bottom: 10%;
        
    }
}
    
    .cardIcon{
        margin-bottom: 10px;
    }
    
    .features{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        color: #BD2031;
        margin-top: 25px;
    }
    
    .fillerPicture{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    }