.navigation{
    text-align: center;
    padding: 20px;
    font-weight: bold;
    border-bottom: d 2px black;
    box-shadow: 0 8px 6px -6px #9CA89C;

a{
    text-decoration: none;
    color: #BD2031;
}
a:hover{
    .navFeatures();
}
.button{
    display: flexbox;
    margin-left: 40%;
}
}
