.Item {
  display: flex;
  justify-content: space-evenly;
  padding: 90px;
  box-shadow: 0 8px 6px -6px #9CA89C;
}
h3 {
  display: flexbox;
  flex-direction: column;
  margin-left: 20px;
}
p {
  margin-left: 15px;
}
button {
  width: 50%;
  height: 10%;
  border-radius: 10px;
  box-shadow: 0 8px 6px -6px #9CA89C;
}
img {
  border-radius: 50px;
  margin-left: 50px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 10%;
  color: #056608;
}
.cards .card {
  flex: 0 1 24%;
  margin-bottom: 10%;
  padding: 2px 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: 2px solid #e7e7e7;
  border-radius: 4px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.cardIcon {
  margin-bottom: 10px;
}
.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #056608;
  margin-top: 25px;
}
@media (max-width: 500px) {
  .Item {
    display: flexbox;
    flex-direction: column;
  }
  .Item img {
    width: 450px;
    height: 50px;
    text-align: center;
  }
  .Item button {
    margin-top: 30px;
  }
}
@media (max-width: 800px) {
  .Item {
    display: flexbox;
    flex-direction: column;
  }
  .Item img {
    text-align: center;
  }
  .Item button {
    margin-top: 30px;
  }
}
@media (max-width: 1280px) {
  .Item img {
    width: 540px;
    height: 440px;
  }
}
footer {
  width: 100%;
  border-top: 1px dashed white;
  margin: 10px;
  color: #056608;
  text-decoration: none;
  /*======= Create a selector for the anchor tag in the footer to have the following styles:*/
  /* /*======= Create a hover state for the anchor tag in the footer nav to have the following styles: */
}
footer .footer-content {
  margin: 0 auto;
  /*======= create a width property. Set the value to 600px */
}
footer footer nav {
  display: inline;
  margin-left: 1px;
  text-decoration: none;
}
footer a {
  color: #056608;
}
footer .footer-content a:hover {
  text-decoration: underline;
  color: #9CA89C;
}
footer .footer-content a:hover footer .footer-content .copyright {
  padding: 20px 0;
  /*======= center the text here */
  text-align: center;
}
.navFeatures {
  text-decoration: underline;
  color: #9CA89C;
}
.boxFeatures {
  box-shadow: 0 8px 6px -6px black;
}
.navigation {
  text-align: center;
  padding: 20px;
  font-weight: bold;
  box-shadow: 0 8px 6px -6px #9CA89C;
}
.navigation .Tipsease {
  margin-top: 10px;
  color: #056608;
}
.navigation a {
  text-decoration: none;
  color: #056608;
  display: inline;
}
.navigation a:hover {
  text-decoration: underline;
  color: #9CA89C;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
/* * {
    box-sizing: border-box;
} */
html,
body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers';
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.cards {
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  margin-bottom: 80px;
  /* On mouse-over, add a deeper shadow */
  /* Add some padding inside the card container */
}
.cards .container {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 20px;
  display: grid;
  border: 2px solid #e7e7e7;
  border-radius: 4px;
  padding: 500rem;
}
.cards .container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.cards .container {
  padding: 2px 16px;
}
.missionStatment {
  display: flex;
  justify-content: space-evenly;
  padding: 80px;
  box-shadow: 0 8px 6px -6px #9CA89C;
}
.missionStatment h1 {
  display: flexbox;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px ;
}
.missionStatment p {
  margin: 15px;
}
.missionStatment img {
  border-radius: 50px;
  margin-left: 10px;
}
.TeamTipsease {
  color: #056608;
  text-align: center;
  margin-top: 200px;
}
@media (max-width: 550px) {
  .missionStatment img {
    width: 445px;
    height: 300px;
  }
}
@media (max-width: 800px) {
  .missionStatment {
    display: flexbox;
    flex-direction: column;
  }
  .missionStatment img {
    width: 0 auto;
  }
}
@media (max-width: 1280px) {
  .missionStatment img {
    width: 540px;
    height: 440px;
  }
  .missionStatment p {
    margin-bottom: 25%;
  }
}
